<%= form_tag :wifis,method: :post do %>
    <p>
    <input placeholder="県名を入力してください" type="text" name="prefecture">
    <input placeholder="緯度を入力してください" type="text" name="latitude">
    <input placeholder="経度を入力してください" type="text" name="longitude">
    <input type="submit" value="SENT">
    </p>
<% end %>
